.Button{
	padding: 10px 15px;
	background: var(--tg-theme-button-color);
	color: var(--rg-theme-button-text-color);
	border: 1px solid var(--rg-theme-button-text-color);
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
}